/* Welcome.css */
.info-container {
    background-color: #669b03; /* Light grey background, you can change it as per your design */
    padding: 20px;
    text-align: center;
}

.info-container h1 {
    color: #333; /* Dark grey color for the text, change it as needed */
    margin-bottom: 10px;
}

.info-container p {
    color: #666; /* Light grey color for the paragraph, change it as needed */
}
